.banner {
  min-height: 500px;
  background-color: $gray-light;
  padding-top: 100px;
  padding-left: 30px;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 700px;
    height: 417px;
    right: 100px;
    top: 50px;
    background-image: url('../img/pictures/CV.png');
  }

  &__title {
    text-transform: uppercase;
    font-size: $font-xxl;
    font-weight: 700;
    color: $second-color;
  }

  &__slogan {
    text-transform: uppercase;
    font-size: $font-sm;
    font-weight: 700;
    display: block;
    color: $main-color;
  }
}
