$main-color:          #412937;
$main-color-light:    #503A47;
$second-color:        #FB4F5D;
$second-color-light:  #E89E91;
$bg-color-light:      #FFF5F6;

$gray-light:          #E5EEF5;
$gray-darker:         #CDD5E0;

$text-color:          $main-color;

$font-family:         -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$font-size:           14px;
$line-height:         1.4;

$screen-sm:           320px;
$screen-md:           768px;
$screen-lg:           1440px;

$font-xxs: 12px;
$font-xs: 14px;
$font-sm: 16px;
$font-md: 18px;
$font-lg: 22px;
$font-xl: 30px;
$font-xxl: 55px;


