$main-color:          #7DCBCF;
$main-color-dark:     #4AA2A5;
$second-color:        #1F2455;
$second-color-light:  #6A4099;
$warning-color:       #FDC05D;

$gray-light:          #F2F2F2;
$gray-dark:           #231F20;

$text-color:          $gray-dark;

$font-family:         -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$font-size:           14px;
$line-height:         1.4;

$screen-sm:           320px;
$screen-md:           768px;
$screen-lg:           1440px;

$font-xxs: 12px;
$font-xs: 14px;
$font-sm: 16px;
$font-md: 18px;
$font-lg: 22px;
$font-xl: 24px;
$font-xxl: 48px;

// @media (min-width: $screen-lg) {}
